/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

@keyframes moveImg {
  from {transform: rotate(0deg);}
  to   {transform: rotate(20deg);}
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #745450;
}

body {
  height: 100vh;
  text-align: center;
}

main {
  width: 100%;
  max-width: 900px;
  max-height: 755px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

/*===============  Repete action ================*/

body, .gameStart, section:first-child, section:first-child form, .gameStart > div:last-child, .gameStart > div:first-child {
  display: flex;
}


/*----------------------------------------------------------------------------------
----------------------------Index menu----------------------------------------------
-----------------------------------------------------------------------------*/

h1 {
  color: rgb(243, 196, 69);
  margin: 0;
}

section:first-child {
  position: absolute;
  background-color: #a2754c;
  height: 99.9vh;
  max-height: 755px;
  width: 100vw;
  max-width: 900px;
  align-items: center;
  z-index: 1;
  transition: 0.5s ease-in;
  flex-direction: column;
  text-align: center;

}

section:first-child h2 {
  text-align: center;
  line-height: 57px;
  margin: 0;
  color: #745450;
}

section:first-child img {
  height: 40%;
  position: relative;
  top: 5%;
}


.gameStart, section:first-child  {
  flex-wrap: nowrap;
  justify-content: center;
}

.gameStart {
  flex-direction: row;

}

section:first-child div {
  padding: 20px;

  background: rgb(243, 196, 69);
}

section:first-child form {
  flex-wrap: wrap;
  justify-content: center;
}

section:first-child h2 {
  display: none;
}

section:first-child p {
  color: #745450;
  margin: 0;
  font-size: 1.2rem;
}

input[type=text] {
  width: 100%;
  margin: 10px;
  border: 1px dashed burlywood;
  background-color: rgba(113, 50, 74, 0.5);
  padding: 10px;
  color: rgb(243, 196, 69);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

input[type=text]::placeholder {
  color: green;
}

input[type=text]:focus {
 background-color: rgba(113, 50, 74, 0.3);
}

input[type=submit] {
  border: none;
  padding: 15px 20px;
  background: rgb(250, 179, 188);
  cursor: pointer;
  font-size: 1.2rem;
  color: #745450;
  transition: 0.5s ease;
}

input[type=submit]:active {
  background: rgb(162, 218, 20);
  box-shadow: 1px 1px 5px black inset;
}


/*---------------------------------------------------------------------------------
----------------------------Game interface-----------------------------------------
-----------------------------------------------------------------------------*/

.gameStart {
  width: 100%;
  position: relative;
  height: 100vh;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(162, 218, 20);
}

.gameStart > div:first-child img {
  display: block;
  width: 100%;
  max-width: 305px;
}

.gameStart > div:last-child  {
  background-color: #a2754c;
  width: 100%;
  height: 20vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.gameStart > div:first-child  {
  max-height: 755px;
  margin-top: 50px;
  overflow: hidden;
  height: 80vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.gameStart .talkPc {
  width: 100%;
  height: 10vh;
  max-height: 153px;
  background: rgba(217, 189, 20, 0.8);
  border: 1px solid burlywood;
  position: absolute;
  bottom: 0px;
}

.gameStart .talkPc p {
  text-align: center;
  font-size: 1.2rem;
  color: #745450;
}

.gameStart > div:last-child img {
  width: 20%;
  max-width: 75px;
  display: block;
  margin: 23% auto;
  cursor: pointer;
  position: relative;
  z-index: 0;

}




/*---------------------------------------------------------------------------------
----------------------------Game end interface-----------------------------------------
-----------------------------------------------------------------------------*/

.gameEnd {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  background: rgb(162, 218, 20);
  max-width: 900px;
  max-height: 744px;
  border-left: 5px dashed #a2754c;
  border-right: 5px dashed #a2754c;
}

.gameEnd a {
  background: rgb(250, 179, 188);
  font-size: 1.5rem;
  margin: 15px 0;
  color: #745450;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s ease;
  border: none;
  border-radius: 2px;
}

.gameEnd a:active {
  background: rgb(243, 196, 69);
  box-shadow: 1px 1px 5px black inset;
}

.gameEnd img {
  height: 100%;
  max-height: 400px;
}


/* Large devices */
@media (min-width: 900px) {

  input[type=submit]:hover {
    background-color: rgb(162, 218, 20);
  }

  .gameStart .talkPc p {
    font-size: 1.7rem;
  }

  .gameStart {

    flex-direction: row;
    justify-content: flex-start;
  }

  .gameStart > div:last-child  {
    width: 20%;
    height: 100%;
    max-height: 755px;
    flex-direction: column;

  }

  .gameStart > div:first-child  {
    width: 85%;
    margin-left: 15%;
    margin-top: 0;
    height: 100%;
    max-height: 755px;
  }

  .gameStart > div:first-child img {
    max-width: 440px;
  }

  .gameStart > div:last-child img {
    width: 70%;
    max-width: 100px;
  }

  .gameStart .talkPc {
    height: 20vh;
    font-size: 1.5rem;
  }

  .gameEnd a:hover {
    background: rgb(243, 196, 69);
  }

  .gameStart > div:last-child img:hover {
    animation: 0.2s linear 0s infinite none alternate moveImg;

  }

 }








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
